:root {
  /* color */
  --abuMuda: #2b2a2f;
  --abuTua: #27262b;
  --abuTerang: #c2c2c2;
  --putih: #ffffff;
  --oren: #fe7e11;
}

/* skills */

.skills {
  background-color: var(--abuTua);
  height: 200vh;
}
.skills h1 {
  font-size: 25px;
}
.skills .garisBawah {
  height: 3px;
  width: 30px;
  background-color: var(--oren);
}

.skills .cardSkills {
  background-color: var(--abuMuda);
  border-radius: 10px;
  border: none;
  padding: 20px;
  height: 100%;
  box-shadow: 3px 3px 5px #1f1f1f9c;
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .skills {
    height: auto;
  }
  .skills .cardSkills {
    padding: 50px;
  }
}
